{%
  set page = {
    "slug": "about",
    "title": "About",
    "numTabs": 1
  }
%}
{% extends '../_layouts/page-tabs.html' %}

{% block tab-1-handle %}
<span class="tab-handle">
  <span class="tab-handle-inner">
    <span class="short" aria-hidden="true">A</span>
    <span class="full">About</span>
  </span>
</span>
<span class="tab-handle tab-handle-phil">
  <img src="//placehold.it/200x200" alt="Portrait of Phil Klafta" />
</span>
{% endblock %}
{% block tab-1-content %}
<div class="tab-content">
  <p>Antfarm Consulting is the corporate front of Phil Klafta. I have over 20 years of experience helping agencies and companies develop innovative strategies built on customer and competitor insights using a disciplined and collaborative approach.</p>
  <p><strong>Strategic:</strong> I focus my clients on the targets, insights, and ideas that will help them achieve their objectives.</p>
  <p><strong>Disciplined:</strong> I develop strategies based upon insights into my client's capabilities, their customer's needs, competitive opportunities, and environmental trends.</p>
  <p><strong>Insightful:</strong> I separate the relevant information from the distractions and remix it into a fresh perspective.</p>
  <p><strong>Creative:</strong> I continually strive for ideas which are new and better and encourage my clients to do the same.</p>
  <p><strong>Collaborative:</strong> I incorporate the insights and experience of my clients throughout the process, from hypotheses to interpretation to recommendations.</p>
  <p><em>If you're ready to go elbows deep to find new and better ideas to grow your business, give me a call about what's on your mind.</em></p>
</div>
{% endblock %}
