<div id="clients" class="page page-fullwidth page-clients">
  {% set pass_data = {"title": "Clients"} %}
  {% include '../_partials/page-title.html' with pass_data %}
  <div class="page-content">
    <div class="tab-content">
      <h2 class="tab-title">Headline</h2>
      <div class="scrollblock">
        <ul class="clients">
          {% for client in clients %}
          <li class="client client-{{client.slug}}">
            <img src="img/client/{{client.slug}}.png" alt="{{client.name}}"/>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
