{%
  set page = {
    "slug": "services",
    "title": "Services",
    "numTabs": 3
  }
%}
{% extends '../_layouts/page-tabs.html' %}

<!-- nav hint
  <ul>
    <li>I: Insights</li>
    <li>R: Research</li>
    <li>S: Strategy</li>
  </ul>
-->

<!-- INSIGHTS -->
{% block tab-1-handle %}
<a class="tab-handle" href="#insights">
  <span class="tab-handle-inner">
    <span class="short" aria-hidden="true">I</span>
    <span class="full">Insights</span>
  </span>
</a>
{% endblock %}
{% block tab-1-content %}
<div class="tab-content" id="insights">
  <h2 class="tab-title">Insights</h2>
  <p><strong>Customer Video, Personae, Interviews, Cultural Analysis</strong></p>
  <p>Video and personae are powerful tools for communicating information and insights, helping decision makers better understand the customer they hope to influence. Antfarm has created Customer Videos and Personae of corporate IT leaders, jeans shoppers, football fans, new parents, recent hospital patients, and many others.</p>
  <p>Allowing customers to tell their story in their own words is often provides unexpected insights into their situation. Antfarm has conducted Interviews at car rallies, street corners, industry conferences, restaurants, tail-gaiters, c-suites, and of course focus group facilities.</p>
  <p>Insights are all about the right perspective, and sometimes that perspective is the culture in which a business operates. Antfarm has conducted Cultural Analyses of restaurant scenes from movies for a quick service restaurant, published player biographies for an NFL franchise, and advertising images of female beauty for a cosmetics marketer.</p>
</div>
{% endblock %}

<!-- RESEARCH -->
{% block tab-2-handle %}
<a class="tab-handle" href="#research">
  <span class="tab-handle-inner">
    <span class="short" aria-hidden="true">R</span>
    <span class="full">Research</span>
  </span>
</a>
{% endblock %}
{% block tab-2-content %}
<div class="tab-content" id="research">
  <h2 class="tab-title">Research</h2>
  <p><strong>Concept Testing, Competitive Analysis, Evaluation, Retail Experience</strong></p>
  <p>Have an idea for a product, package, or communication? Antfarm helps its clients understand customer reactions to new ideas and helps make them stronger. We've conducted Concept Testing for a new restaurant, packaging for construction contractors, ideas for frozen meals and household cleaners, websites, direct mail, and many, many ads.</p>
  <p>When your product is your store, there are endless opportunities to delight, distract, and confuse your customers. We've brought together our clients and customers for Retail Experience workshops to improve hotel service and car washes, we've watched contractors interacting with promotional material at big box stores, and interviewed shoppers as they navigate the frozen food section of a grocery chain.</p>
</div>
{% endblock %}

<!-- STRATEGY -->
{% block tab-3-handle %}
<a class="tab-handle" href="#strategy">
  <span class="tab-handle-inner">
    <span class="short" aria-hidden="true">S</span>
    <span class="full">Strategy</span>
  </span>
</a>
{% endblock %}
{% block tab-3-content %}
<div class="tab-content" id="strategy">
  <h2 class="tab-title">Strategy</h2>
  <p><strong>Brand, Positioning, Communications, Content</strong></p>
  <p>Information and insights are the fuel of new ideas, but those ideas must add up to answer the question of marketing strategy: What do we do with our (Brand, Positioning, Communications, Content) to be successful?</p>
  <p>Antfarm works closely with decision makers to frame the situation, harvest insights from stakeholders, and analyzes relevant data to leads the team to strategies that inspire both confidence and creativity.</p>
  <p>Antfarm has developed Brand Strategies for the Chicago Bears, CDW Solutions, National-Louis University, Culver's Restaurants, Cardinal Health and Turtle Wax Car Products.</p>
  <p>We've developed Product Positionings for State Farm Insurance, Alltel Wireless, Discover Card Financial Services, Tyson Foods and SC Johnson.</p>
  <p>We've developed Communications Strategies for many companies and organizations, including WW Grainger, Dell Institutional Sales, Home Depot, Busch Entertainment and Clarian Health.</p>
  <p>We've developed Content Strategies for the American Cancer Society and CDW.</p>
</div>
{% endblock %}

