{%
  set page = {
    "slug": "specialties",
    "title": "Specialties",
    "numTabs": 4
  }
%}
{% extends '../_layouts/page-tabs.html' %}

<!-- nav hint
  <ul>
    <li>V: Videography</li>
    <li>B2: Business to Business</li>
    <li>CS: Communication Strategy</li>
    <li>T: Technology</li>
  </ul>
-->

<!-- VIDEOGRAPHY -->
{% block tab-1-content %}
NEED: COPY FOR VIDEOGRAPHY
{% endblock %}

<!-- BUSINESS TO BUSINESS -->
{% block tab-2-content %}
NEED: COPY FOR B2B
{% endblock %}

<!-- COMMUNICATION STRATEGY -->
{% block tab-3-content %}
NEED: COPY FOR COMM STRATEGY
{% endblock %}

<!-- TECHNOLOGY -->
{% block tab-4-content %}
NEED: COPY FOR TECHNOLOGY
{% endblock %}
