{%
  set page = {
    "slug": "specialties",
    "title": "Specialties",
    "numTabs": 4
  }
%}
{% extends '../_layouts/page-tabs.html' %}

<!-- nav hint
  <ul>
    <li>V: Videography</li>
    <li>B2: Business to Business</li>
    <li>CS: Communication Strategy</li>
    <li>T: Technology</li>
  </ul>
-->

<!-- VIDEOGRAPHY -->
{% block tab-1-handle %}
<a class="tab-handle" href="#videography">
  <span class="tab-handle-inner">
    <span class="short" aria-hidden="true">V</span>
    <span class="full">Videography</span>
  </span>
</a>
{% endblock %}
{% block tab-1-content %}
<div class="tab-content" id="videography">
  {% set pass_data = {"title": 'Videography'} %}
  {% include '../_partials/tab-title.html' with pass_data only %}
  <div class="scrollblock">
    <p><strong>Uncover the customer behind the data.</strong></p>
    <p>Never have marketers had so much data. Test. Collect. Analyze. Repeat. And while all that data can help us make more reliable decisions, we sometimes lose our customer in the numbers.</p>
    <p>To get to fresh marketing ideas, you need to find the person behind all that data. You need to have an empathetic understanding of their situation, one human to another. You need to know what they might want even before they do.</p>
    <p>Antfarm customer videos and personae help your team better understand your customer and inspire fresh marketing tactics. We&rsquo;ve captured on video patients reflecting on their hospital stays, football fans struggling with their relationship to their favorite teams, and parents imagining their newborns as future college students.</p>
    <p>We&rsquo;ve combined quantitative data with qualitative insights into first person customer personae or profiles of western jean shoppers, adults returning to college, IT decision makers for small businesses, and moms confronting their daily meal dilemma.</p>
  </div>
</div>
<!--
ALSO: Three Videos Links…TBD
1. Video: “Car Enthusiasts”
2. Video: “Football Fans”
3. Personae Video/PDF…TBD
-->
{% endblock %}

<!-- BUSINESS TO BUSINESS -->
{% block tab-2-handle %}
<a class="tab-handle" href="#business-to-business">
  <span class="tab-handle-inner">
    <span class="short" aria-hidden="true">B2</span>
    <span class="full">Business to Business</span>
  </span>
</a>
{% endblock %}
{% block tab-2-content %}
<div class="tab-content" id="business-to-business">
  {% set pass_data = {"title": 'Business to Business'} %}
  {% include '../_partials/tab-title.html' with pass_data only %}
  <div class="scrollblock">
    <p><strong>Get inside the motivations and relationships behind the decisions.</strong></p>
    <p>What&rsquo;s the trick to b2b communications? Gloss over the price, romance the features, call it a solution and call it a day. Right? Well, no.</p>
    <p>Most decision makers spend about half of their waking hours thinking about their business. Their professional goals are interwoven with their business goals.</p>
    <p>What do they want to achieve? How can they get there? How can what you have to offer help them?</p>
    <p>Know this and you know them.</p>
    <p>Antfarm has spent much of the past 20 years helping companies develop insights and strategies for their b2b customers. We&rsquo;ve helped companies sell tools to tradesmen, building products to contractors, valves to engineers, broadband to business owners, servers to IT pros, and more.</p>
  </div>
</div>
{% endblock %}

<!-- COMMUNICATION STRATEGY -->
{% block tab-3-handle %}
<a class="tab-handle" href="#communication-strategy">
  <span class="tab-handle-inner">
    <span class="short" aria-hidden="true">CS</span>
    <span class="full">Communication Strategy</span>
  </span>
</a>
{% endblock %}
{% block tab-3-content %}
<div class="tab-content" id="communication-strategy">
  {% set pass_data = {"title": 'Communication Strategy'} %}
  {% include '../_partials/tab-title.html' with pass_data only %}
  <div class="scrollblock">
    <p><strong>Focus for tactics, inspiration for creativity.</strong></p>
    <p>There&rsquo;s one customer that&rsquo;s usually taken for granted in every marketing campaign: your team. Each person on your team has their own assumptions, inclinations and motivations. And sometimes they&rsquo;re your toughest customer.</p>
    <p>That&rsquo;s why the first &ldquo;ad&rdquo; of every campaign should be to your own team. Give them a clear direction to be successful, inspire them with fresh insights, and you stand a chance of selling your real customers.</p>
    <p>The Antfarm approach to strategy is specifically designed to help your team work efficiently and effectively get to new and better ideas. We&rsquo;ve developed communication strategies to help companies sell washing machines and car washes, fast food and haute cuisine, plant automation and server virtualization. And many, many more.<br /> <br /> </p>
  </div>
</div>
{% endblock %}

<!-- TECHNOLOGY -->
{% block tab-4-handle %}
<a class="tab-handle" href="#technology">
  <span class="tab-handle-inner">
    <span class="short" aria-hidden="true">T</span>
    <span class="full">Technology</span>
  </span>
</a>
{% endblock %}
{% block tab-4-content %}
<div class="tab-content" id="technology">
  {% set pass_data = {"title": 'Technology'} %}
  {% include '../_partials/tab-title.html' with pass_data only %}
  <div class="scrollblock">
    <p>NEED: COPY FOR TECHNOLOGY</p>
  </div>
</div>
{% endblock %}
