<!DOCTYPE html>
<html>
<head>
  <title>Ant Farm Consulting</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/main.css" />
</head>
<body>

  <div class="navigation">
    <ul>
      <li class="label-row">
        <h1 class="logo"><span>Ant Farm Consulting Inc.</span></h1>
      </li>
      <li>
        <a href="#about">About</a>
      </li>
      <li>
        <a href="#services">Services</a>
      </li>
      <li>
        <a href="#specialties">Specialties</a>
      </li>
      <li>
        <a href="#clients">Clients</a>
      </li>
      <li>
        <a href="#contact">Contact</a>
      </li>
      <li class="label-row">
        <span>Blogs:</span>
      </li>
      <li>
        <a rel="external" href="http://www.marketmambo.com">Market Mambo</a>
      </li>
      <li>
        <a rel="external" href="http://www.kulturekat.com">Kulture Kat</a>
      </li>

    </ul>
  </div>

  <!-- HOME -->
  {% include '_pages/home.html' %}

  <!-- ABOUT -->
  {% include '_pages/about.html' %}

  <!-- SERVICES -->
  {% include '_pages/services.html' %}

  <!-- SPECIALTIES -->
  {% include '_pages/specialties.html' %}

  <!-- CLIENTS -->
  {% include '_pages/clients.html' %}

  <!-- CONTACT -->
  {% include '_pages/contact.html' %}


  <script src="js/antfarm.js"></script>
</body>
</html>
