.page-home {
  background-color: #231F20; //average of image
  background-position: center center;
  background-size: cover;
  padding: 200px 0;
}

.page-home img {
  width: 58%;
  min-width: 280px;
  max-width: 600px;
  margin: 0 auto;
  display: block;
}
