$nav-border-color: #fff;

.navigation {
  & {  
    position: fixed;
    top: 20px;
    right: 20px;

    z-index: 300;
  }

  .navigation-toggle {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-apparance: none;
    appearance: none;
    height: 60px;
    width: 60px;
    line-height: 60px;
    font-size: 30px;

    background-image: url(../img/hamburger.svg);
    background-size: cover;

    border: none;
    background-color: $color-plastic;
    color: #fff;
  }

  ul.navigation-list,
  ul.navigation-list li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  ul.navigation-list h1,
  ul.navigation-list h2,
  ul.navigation-list h3,
  ul.navigation-list h4,
  ul.navigation-list h5,
  ul.navigation-list h6 {
    margin: 0;
    font-size: 1em;
    font-weight: normal;
  }

  ul.navigation-list {
    background: #333;
    border: $nav-border-color solid 1px;
  }

  ul.navigation-list li + li {
    border-top: $nav-border-color solid 1px;
  }

  ul.navigation-list li span,
  ul.navigation-list li a {
    padding: 4px;
    display: block;

    & {
      color: #fff;
    }
  }

  ul.navigation-list li a {
    background-color: $color-plastic;
  
    &[rel="external"] {
      background-color: $color-dirt;
    }
  }
}

