$nav-border-color: #fff;
$nav-border-thickness: 1px;
.navigation {

  & {
    font-size: 12px; //Base for all fonts

    position: fixed;
    top: 20px;
    right: 20px;

    z-index: 300;
    text-align: right;
  }

  .navigation-toggle {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-apparance: none;
    appearance: none;
    height: 60px;
    width: 60px;
    line-height: 60px;
    display: inline-block;

    background-image: url(../img/hamburger.svg);
    background-size: cover;

    border: none;
    background-color: $color-plastic;
    color: #fff;
  }

  ul.navigation-list,
  ul.navigation-list li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  ul.navigation-list h1,
  ul.navigation-list h2,
  ul.navigation-list h3,
  ul.navigation-list h4,
  ul.navigation-list h5,
  ul.navigation-list h6 {
    margin: 0;
    font-size: 1em;
    font-weight: normal;
  }

  ul.navigation-list {
    display: block;
    text-align: left;
    border: $nav-border-color solid $nav-border-thickness;
  }

  ul.navigation-list li + li {
    border-top: $nav-border-color solid $nav-border-thickness;
  }

  ul.navigation-list li {
    & a {
      color: #fff;
    }

    & > span,
    & > a {
      padding: 8px 6px;
      display: block;

      & {
        color: #fff;
      }
    }

    &.logo-row .close {
      float: right;
      font-size: 2em;
      position: relative;
      font-weight: bold;
      padding: 0 0.3em;
    }

    &.logo-row > span,
    &.logo-row > a {
      background-color: $color-plastic;
      font-size: 1em;

      & h1 {
        font-size: 1.875em;
        font-family: $font-family-sans-serif;
      }
    }

    &.page-row > span,
    &.page-row > a {
      font-size: 1.875em;
      font-family: $font-family-serif;
      font-weight: bold;
      background-color: $color-dirt;
    }

    &.tabs-row > span,
    &.tabs-row > a {
      font-size: 0.875em;
      font-family: $font-family-serif;
      font-weight: bold;
      background-color: rgba($color-dirt, 0.75);
    }

    &.phils-blogs-row > span,
    &.phils-blogs-row > a {
      font-size: 1.875em;
      background-color: #414042;
    }

    &.blog-row > span,
    &.blog-row > a {
      font-size: 1em;
      font-family: $font-family-serif;
      text-transform: uppercase;
      background-color: #636466;
    }
  }

}

