/////////////////////
/// TABS HANDLES
/////////////////////

.tabs-handles {
  font-size: 0;
  position: relative;
}

@media screen and (min-width: $screen-tablet-min) {
  .tabs-handles:after {
    content: '';
    position: absolute;
    bottom: 20px;
    right: 0;
    z-index: 1;
    background-image: url(../img/wire-vertical.svg);
    background-position: 100% 100%;
    background-size: 100% 100%;
    height: 350px;
    width: 131px;
    opacity: $wire-opacity;
  }
}

.tabs-handles .tab-handle {
  font-family: $font-family-serif;
  font-size: 18px;
  display: inline-block;
  overflow: hidden;
  border-radius: 9999px;
  position: relative;
  z-index: 2;

  width: 4em;
  height: 4em;


  background-color: $color-dirt;
  background-image: linear-gradient(to right, rgba(#fff, 0.9) 0%,rgba(#fff,0) 100%);

  border: $color-plastic solid 2px;

  color: $color-body-text;
  padding: 4px;

  & .tab-handle-inner,
  & img {
    display: block;
    background-color: #fff;
    width: calc(4em - 12px);
    height: calc(4em - 12px);
    border-radius: 9999px;
    padding: 0.555em 0.18em 0;

  }

  & img {
    padding: 0;
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }


  & span.short,
  & span.full {
    text-align: center;
    line-height: 1em;
    overflow: visible;
    display: block;

    opacity: 0.5;
  }

  &.active span.short,
  &.active span.full {
    opacity: 1;
  }

  & span.short {
    font-size: 1.4em;
    font-weight: bold;
  }

  & span.full {
    font-size: 11px;
    max-width: 100%;
    overflow: hidden;
    line-height: 1.3em;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@media screen and (min-width: $screen-tablet-min) {
  .tabs-handles .tab-handle {
    //Layout
    display: block;
    margin: 15px auto 0;

    &:first-child {
      margin-top: 0;
    }

    //Size
    font-size: 24px;

    .tab-handle-inner {
      padding-top: 0.8em;
    }

    & span.full {
      overflow: visible;
      white-space: normal;
    }
  }
}

///////////////////////////////
// TABS CONTENTS
///////////////////////////////
.tab-content.tab-hide {
  display: none;
}

.tab-content {
  height: 40vh;
  position: relative;
}


$title-height: 45px;
.tab-content h2.tab-title {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $color-dirt;
  background-image: linear-gradient(to right, rgba(#fff, 0) 0%,rgba(#fff,0.9) 100%);
  height: $title-height;
  line-height: $title-height;
  z-index: 2;
  padding: 0 15px;
  width: 100%;
}

.tab-content .tab-title h2 {
  margin: 0;
  font-weight: normal;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  padding-right: 100px; //Leave room for arrows
}

.tab-content .scrollblock {
  z-index: 1;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 100%;
  padding: 15px;
  padding-top: $title-height + 15px;

  @include strip-edge-margins;
}

///////////////////////
// TABLET LAYOUT
///////////////////////

@media screen and (min-width: $screen-tablet-min) {
  .page-tabs {
    @include clearfix;
  }

  //Todo: not specific to tabs
  .page-title-area {
    margin-left: 186px;
  }

  .tab-content {
    height: 400px;
  }

  .page-tabs .tabs-handles,
  .page-tabs .tabs-contents {
    display: inline-block;
    vertical-align: bottom;
  }


  .page-tabs .tabs-handles {
    width: 160px;
    margin-right: 10px; //allow for box shadow
    text-align: center;
  }

  .page-tabs .tabs-contents {
    width: calc(100% - 170px);
  }


}
