/////////////////////
/// TABS HANDLES
/////////////////////

.tabs-handles {
  font-size: 0;
  position: relative;
  float: left;
  width: $pipe-distance-from-left;
  text-align: right;
  margin-bottom: 4px;
}

//Wire
.tabs-handles:after {
  content: '';
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 1;
  background-image: url(../img/wire-vertical.svg);
  background-position: 100% 100%;
  background-size: 100% 100%;
  opacity: $wire-opacity;

  height: 285px;
  width: 95px;


  @media screen and (min-width: $screen-tablet-min) {
    height: 350px;
    width: 117px;
  }


}

.tabs-handles .tab-handle {
  font-family: $font-family-serif;
  font-size: 18px;
  display: inline-block;
  overflow: hidden;
  border-radius: 9999px;
  position: relative;
  z-index: 2;

  width: 4em;
  height: 4em;


  background-color: $color-dirt;
  background-image: linear-gradient(to right, rgba(#fff, 0.9) 0%,rgba(#fff,0) 100%);

  border: $color-plastic solid 2px;

  color: $color-body-text;
  padding: 4px;
  margin-top: 1px;
  margin-right: 10px;

  & .tab-handle-inner,
  & img {
    display: block;
    background-color: #fff;
    width: calc(4em - 12px);
    height: calc(4em - 12px);
    border-radius: 9999px;
    padding: 0.555em 0.18em 0;

  }

  & img {
    padding: 0;
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }


  & span.short,
  & span.full {
    text-align: center;
    line-height: 1em;
    overflow: visible;
    display: block;

    opacity: 0.5;
  }

  &.active span.short,
  &.active span.full {
    opacity: 1;
  }

  & span.short {
    font-size: 1.4em;
    font-weight: bold;
  }

  & span.full {
    font-size: 10px;
    max-width: 100%;
    overflow: hidden;
    line-height: 1.3em;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.tabs-handles .tab-handle-linebreak {
  display: block;
}

@media screen and (min-width: $screen-tablet-min) {
  .tabs-handles .tab-handle {


    &:first-child {
      margin-top: 0;
    }

    //Size
    font-size: 24px;

    .tab-handle-inner {
      padding-top: 0.5em;
    }

    &.tab-handle-short .tab-handle-inner {
      padding-top: 0.8em;
    }

    & span.full {
      overflow: visible;
      white-space: normal;
    }
  }
}

///////////////////////////////
// TABS CONTENTS
///////////////////////////////
.tab-content.tab-hide {
  display: none;
}

.tab-content {
  height: 40vh;
  position: relative;
}


$title-height: 45px;
.tab-content .tab-title {
  position: relative;
  background-color: $color-dirt;
  background-image: linear-gradient(to right, rgba(#fff, 0) 0%,rgba(#fff,0.9) 100%);
  height: $title-height;
  line-height: $title-height;
  z-index: 2;
  padding: 0 15px;

  html.no-csscalc & {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }

}

.tab-content .tab-title h2 {
  margin: 0;
  font-weight: normal;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  padding-right: 100px; //Leave room for arrows
}

.tab-content .scrollblock {
  z-index: 1;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100% - #{$title-height});
  padding: 15px;

  @include strip-edge-margins();

  html.no-csscalc & {
    max-height: 100%;
    padding-top: $title-height + 15px;
  }

}

//////////////////////////
/// CONTENT STYLES
//////////////////////////
.scrollblock {
  font-size: 18px;
}

.scrollblock h3 {
  font-size: 20px;
  color: $color-dirt;
  padding-bottom: 16px;
  border-bottom: $color-dirt dotted 2px;
  font-family: $font-family-sans-serif;
  font-weight: 400;
}

.scrollblock hr {
  border: 0;
  border-bottom: $color-dirt dotted 2px;
}

.scrollblock b,
.scrollblock strong {
  font-weight: 400;
  color: $color-plastic;
}

.scrollblock i,
.scrollblock em {
  font-style: normal;
  color: $color-dirt;
}
///////////////////////
// TABLET LAYOUT
///////////////////////

@media screen and (min-width: $screen-tablet-min) {
  .page-tabs {
    @include clearfix;
  }

  .tab-content {
    height: 400px;
  }

}

//Up/down scroll arrows
.scroll-nav-container {
  position: absolute;
  top: 0;
  right: 0;
}

.scroll-nav {
  $scroll-nav-size: 24px;
  $scroll-nav-border-width: 0px;
  box-sizing: border-box;

  @extend .fa;
  font-size: 1em;

  & {
    border-radius: 100%;
    background-color: $color-dirt;
    color: #fff;
    border-color: $color-body-text;
    border-width: $scroll-nav-border-width;
    border-style: solid;
    height: $scroll-nav-size;
    width: $scroll-nav-size;
    line-height: $scroll-nav-size - (2 * $scroll-nav-border-width) - 4px;
    text-align: center;
    font-size: 14px;
  }

  &:before {
    font-family: 'fontawesome';
  }

  &.scroll-nav-up:before {
    content: $fa-var-chevron-up;
  }

  &.scroll-nav-down:before {
    content: $fa-var-chevron-down;
  }

}
