{#
Layout template

Expects variables:

page.slug
page.title
page.numTabs

#}
<div id="{{page.slug}}" class="page page-tabs page-{{page.slug}}">
  <h1 class="page-title">{{page.title}}</h1>
  <div class="tabs-handles">
    {%block tab-1-handle %}{# BLANK #}{% endblock %}
    {%block tab-2-handle %}{# BLANK #}{% endblock %}
    {%block tab-3-handle %}{# BLANK #}{% endblock %}
    {%block tab-4-handle %}{# BLANK #}{% endblock %}
    {%block tab-5-handle %}{# BLANK #}{% endblock %}
  </div>
  <div class="page-content tabs-contents">
    {%block tab-1-content %}{# BLANK #}{% endblock %}
    {%block tab-2-content %}{# BLANK #}{% endblock %}
    {%block tab-3-content %}{# BLANK #}{% endblock %}
    {%block tab-4-content %}{# BLANK #}{% endblock %}
    {%block tab-5-content %}{# BLANK #}{% endblock %}
  </div>

</div>
