  $color-dirt: #c88028;
$color-plastic: #33935e;
$color-body-text: #4d4d4f;
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-family-serif: 'Georgia', serif;

$wire-opacity: 0.4;

//Breakpoints
$screen-tablet-min: 768px;

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,600,300italic,600italic);

@import "../../bower_components/normalize-scss/_normalize.scss";

@import "../../bower_components/font-awesome/scss/font-awesome";


@import "utilities";

@import "base/text";

@import "patterns/page";
@import "patterns/social-icons";
@import "patterns/tabs";

@import "patterns/homepage";
@import "patterns/navigation";


@import "patterns/page-contact";


.pipe {
  position: absolute;
  top: 0;
  left: -8px;
  width: 32px;
  height: 4000px;
  background-color: $color-plastic;
  z-index: 0;
  background-image: linear-gradient(to right, rgba(#fff, 0) 0%,rgba(#fff,0.5) 100%);

  @media screen and (min-width: $screen-tablet-min) {
    left: 165px;
  }


}


.page {
  z-index: 1;
  position: relative;
}


