$color-dirt: #c88028;
$color-plastic: #33935e;
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-family-serif: 'Georgia', serif;

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,600,300italic,600italic);

@import "../../bower_components/normalize-scss/_normalize.scss";


body {
  //Type defaults
  color: #4d4d4f;
  font-family: $font-family-sans-serif;
  font-weight: 300;

  //Style

  background-color: white;
}

b,
strong {
  font-weight: 600;
}

a {
  &,
  &:focus,
  &:hover {
    color: $color-dirt;
  }

  & {
    text-decoration: none;
  }

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

.bold-serif,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-serif;
  font-weight: 800;
}


.page {
}

.page-title {
  color: $color-dirt;
  font-size: 45px;
}

.page-content {
  border: rgba(#000, 0.2) solid 10px;
  background-color: #fff;
  font-size: 16px;
}

@import "patterns/homepage";
@import "patterns/navigation";
